/vendor
/node_modules
Homestead.yaml
Homestead.json
.env
.idea
.vagrant/
.vagrant/action_provision
#资源文件
resources/bower_components
public/build
Homestead.yml
.vagrant
/_ide_helper.php
/composer.lock
